<div class="container p-4 bg-info">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="text-uppercase">Editar un personaje</h4>

                </div>
                <div class="card-body ">
                <form action="/edit/{{personaje.id}}" method="post" enctype="multipart/form-data">
                        <div class="input-group mt-2">
                            <label for="name" class="input-group-text"> <b>Nombre personaje </b> </label>      
                        <input class="form-control"  type="text" name="name" id="name" placeholder="nombre personaje" value="{{personaje.name}}" autofocus required>
                        </div>


                        <div class="input-group mt-2">
                            <label for="last_name" class="input-group-text"> <b>Apellido personaje </b> </label>      
                        <input class="form-control"  type="text" name="last_name" id="last_name" placeholder="apellido personaje" value="{{personaje.last_name}}" required>
                        </div>


                        <div class="input-group mt-2">
                            <label for="gender" class="input-group-text"> <b>Genero de personaje </b> </label>      
                        <input class="form-control"  type="text" name="gender" id="gender" placeholder="genero personaje" value="{{personaje.gender}}" >
                        </div>


                        <div class="input-group mt-2">
                            <label for="species" class="input-group-text"> <b>Especie de personaje </b> </label>      
                        <input class="form-control"  type="text" name="species" id="species" placeholder="species personaje" value="{{personaje.species}}" >
                        </div>

                        <div class="input-group mt-2">
                            <label for="character_type" class="input-group-text"> <b>Tipo de personaje </b> </label>      
                        <input class="form-control"  type="text" name="character_type" id="character_type" placeholder="tipo personaje"  value="{{personaje.character_type}}" >
                        </div>


                        <div class="input-group mt-2">
                            <label for="characteristics" class="input-group-text"> <b>Caracteristicas de personaje </b> </label>      
                        <input class="form-control"  type="text" name="characteristics" id="characteristics" placeholder="caracteristicas personaje" value="{{personaje.characteristics}}">
                        </div>

                        <div class="input-group mt-2">
                            <label for="age" class="input-group-text"> <b>Edad personaje</b> <label>      
                        <input class="form-control"  type="number" name="age" id="age" placeholder="edad personaje" value="{{personaje.age}}">
                        </div>

                        {{#if personaje.imagen}}
                            <div class="input-group mt-2">
                                <img src="/uploads/{{personaje.imagen}}" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px;display:block;">
                            </div>
                        {{/if}}

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-primary">actualizar</button>
                        </div>                    
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>