<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-4">lista de personajes</h3>
    </div>
</div>

{{#if personajes}}


    <table class="table text-center">

        <thead>

            <tr class="table-dark">
            <th scoope="col" class="COL-4">NOMBRE</th>
            <th scoope="col">APELLIDO</th>
            <th scoope="col">GENERO</th>
            <th scoope="col">ESPECIE</th>
            <th scoope="col">TIPO</th>
            <th scoope="col">CARACTERISTICAS</th>
            <th scoope="col">URLS</th>
            <th scoope="col">ACCIONES</th>
            </tr>
            </thead>
        <body>
            {{#each personajes}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{gender}}</td>
                    <td>{{species}}</td>
                    <td>{{character_type}}</td>
                    <td>{{characteristic}}</td>
                    <td>{{urls}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="/edit/{{id}}" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>
                                </a>

                            <a href="/delete/{{id}}" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>

                            </a>
                            
                        </div>
                    </td>
                    
                </tr>


            {{/each}}

        </body>




    </tabale>

{{else}}


    <div class="card text-center mx-auto">
        <div class="card-header">
            <h3>puedes crear personaje</h3>
        </div>
        <div class="card-body">
            <p>presiona boton para que registres un personaje</p>
            <a href="/add" class="btn btn-primary">crear</a>

        </div>
    </div>

{{/if}}